In [1]:
import pandas
from datetime import datetime
from pytz import utc

In [2]:
df = pandas.read_csv("reviews.csv", parse_dates=["Timestamp"])

In [3]:
df.head()
df.shape

(45000, 4)

In [4]:
df

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
44995,Python for Beginners with Examples,2018-01-01 01:11:26+00:00,4.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

In [5]:
df.columns

Index(['Course Name', 'Timestamp', 'Rating', 'Comment'], dtype='object')

In [6]:
df.columns[['Rating', 'Course Name']] #select multiple columns
#df.iloc[1]   # select row
#df.iloc[1:3]  # select multiple rows

C:\Users\papai\AppData\Local\Programs\Python\Python39-32\lib\site-packages\pandas\core\indexes\base.py:4307: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [ ]:
df[['Course Name', 'Rating']].iloc[1:3]  # select section
df['Rating'].iloc[2]    # select cell !not the ideal method!
df.at[2, 'Rating']  # select cell !use this!

4.0

# Filtering using 1 condition

In [ ]:
df[df["Rating"] > 3]
df[df["Rating"] > 3].count()

Course Name    41828
Timestamp      41828
Rating         41828
Comment         6204
dtype: int64

## Filtering with multiple conditions

In [ ]:
#df[() & ()]

# Time-based filtering

In [ ]:
df[(df['Timestamp']>= datetime(2020,7,1, tzinfo = utc)) & (df['Timestamp'] <= datetime(2020, 12, 31, tzinfo = utc)  )]

### From data to information sample excersices

 Average rating

In [ ]:
df['Rating'].mean()

4.442155555555556

Average rating for a particular course

In [ ]:
df[df['Course Name'] == 'The Python Mega Course: Build 10 Real World Applications']['Rating'].mean()

4.477270180942244

Average rating for a particular period

In [ ]:
df[(df['Timestamp']>= datetime(2020,7,1, tzinfo = utc)) & 
   (df['Timestamp'] <= datetime(2020, 12, 31, tzinfo = utc))]['Rating'].mean()

4.499250262408157

Average rating for a particular period for a particular course

In [ ]:
df[(df['Timestamp']>= datetime(2020,7,1, tzinfo = utc)) & 
   (df['Timestamp'] <= datetime(2020, 12, 31, tzinfo = utc))&
   (df['Course Name'] == 'The Python Mega Course: Build 10 Real World Applications')]['Rating'].mean()

4.520265724857047

Average of uncommented ratings

In [ ]:
df[df['Comment'].isnull()]['Rating'].mean()

4.433679746603492

Average of commented ratings

In [ ]:
df[df['Comment'].notnull()]['Rating'].mean()

4.489777908515959

Number of commented ratings

In [ ]:
df[df['Comment'].notnull()]['Rating'].count()

6799

Number of uncommented ratings

In [ ]:
df[df['Comment'].isnull()]['Rating'].count()

38201

Number of comments containing a certain word

In [ ]:
df[df['Comment'].str.contains('and', na= False)]['Comment'].count()

2857

Average of commented ratings with "accent" in comment

In [ ]:
df[df['Comment'].str.contains('accent', na= False)]['Rating'].mean()

3.8636363636363638